In [1]:
import pandas as pd 
import numpy as np

# 벅스, 멜론, 지니의 탑100 음원 데이터를 불러오시오 
- Bugs_Chart.csv, Genie_Chart.csv, Melon_Chart.csv

In [2]:
# pd_music = pd.read_excel('파일명.xlsx',sheet_name='melon')
pd_melon = pd.read_excel('melon.xlsx')
pd_genie = pd.read_excel('genie.xlsx')
pd_bugs = pd.read_excel('bugs.xlsx')

In [3]:
display(pd_melon)
display(pd_genie)
display(pd_bugs)

      순위                    곡 명                            가수
0     1위        strawberry moon                           아이유
1     2위                 Savage                         aespa
2     3위                   STAY  The Kid LAROI, Justin Bieber
3     4위                    신호등                           이무진
4     5위              사랑은 늘 도망가                           임영웅
..   ...                    ...                           ...
95   96위                     고백                      신용재 (2F)
96   97위  치맛바람 (Chi Mat Ba Ram)                        브레이브걸스
97   98위           Alcohol-Free                  TWICE (트와이스)
98   99위       사실 나는 (Feat.전건호)                          경서예지
99  100위      Love On The Floor                       NCT 127

[100 rows x 3 columns]

      순위                            곡 명                             가수
0     1위                strawberry moon                       아이유 (IU)
1     2위                           나비효과                         볼빨간사춘기
2     3위                         Savage                          aespa
3     4위                           Stay  The Kid LAROI & Justin Bieber
4     5위                            신호등                            이무진
..   ...                            ...                            ...
95   96위  비 오는 날 듣기 좋은 노래 (Feat. Colde)                             제시
96   97위                           HERO                세븐틴 (SEVENTEEN)
97   98위                   롤린 (Rollin')           브레이브걸스 (Brave girls)
98   99위                            끝사랑                            임영웅
99  100위                   매일 그대라서 행복하다                            이무진

[100 rows x 3 columns]

      순위                                    곡 명                             가수
0     1위                    Upper Side Dreamin’                        ENHYPEN
1     2위                        strawberry moon                        아이유(IU)
2     3위                                   나비효과                         볼빨간사춘기
3     4위                             너는 내 세상이었어                         볼빨간사춘기
4     5위                                 Savage                          aespa
..   ...                                    ...                            ...
95   96위                                  상상더하기                     라붐(LABOUM)
96   97위  NO BREAK (Prod. GooseBumps & 사이먼 도미닉)  홀리뱅 (HolyBang)홀리뱅 (HolyBang)
97   98위                             가을 우체국 앞에서                            김대명
98   99위                                   IF I                            백지영
99  100위                 BAD GIRL (Prod. Czaer)    라치카 (LACHICA)라치카 (LACHICA)

[100 rows x 3 columns]

# 각 음원사이트에서 10위권 안의 노래들을 출력하시오

In [4]:
pd_bugs.iloc[:10]

    순위                    곡 명                               가수
0   1위    Upper Side Dreamin’                          ENHYPEN
1   2위        strawberry moon                          아이유(IU)
2   3위                   나비효과                           볼빨간사춘기
3   4위             너는 내 세상이었어                           볼빨간사춘기
4   5위                 Savage                            aespa
5   6위           Cold Blooded                        제시(Jessi)
6   7위                  가르치지마                       에일리(Ailee)
7   8위            My Universe  Coldplay(콜드플레이)Coldplay(콜드플레이)
8   9위  미워지지가 않아 (Unhateable)                               노을
9  10위                   STAY      The Kid LAROIThe Kid LAROI

In [5]:
pd_melon.iloc[:10]

    순위              곡 명                            가수
0   1위  strawberry moon                           아이유
1   2위           Savage                         aespa
2   3위             STAY  The Kid LAROI, Justin Bieber
3   4위              신호등                           이무진
4   5위        사랑은 늘 도망가                           임영웅
5   6위      My Universe               Coldplay, 방탄소년단
6   7위       Next Level                         aespa
7   8위    다정히 내 이름을 부르면                     경서예지, 전건호
8   9위   OHAYO MY NIGHT     디핵 (D-Hack), PATEKO (파테코)
9  10위    낙하 (with 아이유)                     AKMU (악뮤)

In [6]:
pd_genie.iloc[:10]

    순위              곡 명                             가수
0   1위  strawberry moon                       아이유 (IU)
1   2위             나비효과                         볼빨간사춘기
2   3위           Savage                          aespa
3   4위             Stay  The Kid LAROI & Justin Bieber
4   5위              신호등                            이무진
5   6위      My Universe                       아이유 (IU)
6   7위    다정히 내 이름을 부르면                         볼빨간사춘기
7   8위   OHAYO MY NIGHT                          aespa
8   9위        사랑은 늘 도망가  The Kid LAROI & Justin Bieber
9  10위       Next Level                            이무진

# 각 음원사이트에서 35위의 노래를 확인하시오

In [7]:
pd.DataFrame(pd_bugs.iloc[34])

           34
순위        35위
곡 명  밤새 니가 내려
가수        케이시

In [8]:
pd.DataFrame(pd_melon.iloc[34])

      34
순위   35위
곡 명  끝사랑
가수   임영웅

In [9]:
pd.DataFrame(pd_genie.iloc[34])

                     34
순위                  35위
곡 명  Favorite (Vampire)
가수             아이유 (IU)

# 각 사이트별로 탑100 순위에 있는 가수들의 이름을 구하시오

In [10]:
pd_genie['가수']

0                          아이유 (IU)
1                            볼빨간사춘기
2                             aespa
3     The Kid LAROI & Justin Bieber
4                               이무진
                  ...
95                               제시
96                  세븐틴 (SEVENTEEN)
97             브레이브걸스 (Brave girls)
98                              임영웅
99                              이무진
Name: 가수, Length: 100, dtype: object

In [11]:
pd_melon['가수']

0                              아이유
1                            aespa
2     The Kid LAROI, Justin Bieber
3                              이무진
4                              임영웅
                  ...
95                        신용재 (2F)
96                          브레이브걸스
97                    TWICE (트와이스)
98                            경서예지
99                         NCT 127
Name: 가수, Length: 100, dtype: object

In [12]:
pd_bugs['가수']

0                           ENHYPEN
1                           아이유(IU)
2                            볼빨간사춘기
3                            볼빨간사춘기
4                             aespa
                  ...
95                       라붐(LABOUM)
96    홀리뱅 (HolyBang)홀리뱅 (HolyBang)
97                              김대명
98                              백지영
99      라치카 (LACHICA)라치카 (LACHICA)
Name: 가수, Length: 100, dtype: object

# 각 사이트별로 탑100 순위에 있는 가수들의 수를 구하시오

In [13]:
pd_genie['가수'].nunique()

31

In [14]:
pd_melon['가수'].nunique()

56

In [15]:
pd_bugs['가수'].nunique()

70

# 각 사이트별로 각 가수들이 몇 곡씩 탑100안에 순위를 올렸는지 수를 구하시오

In [16]:
pd_melon['가수'].value_counts()

임영웅                               10
세븐틴                                9
아이유                                7
방탄소년단                              6
브레이브걸스                             3
NCT 127                            3
이무진                                3
Justin Bieber                      2
AKMU (악뮤)                          2
마크툽 (MAKTUB)                       2
헤이즈 (Heize)                        2
STAYC(스테이씨)                        2
장범준                                2
조정석                                2
aespa                              2
볼빨간사춘기                             2
이예준                                2
김대명                                1
SG 워너비                             1
제시 (Jessi)                         1
BLACKPINK                          1
산들                                 1
경서                                 1
송이한                                1
창모 (CHANGMO)                       1
MSG워너비(M.O.M)                      1
전소미                                1
호미들                                1
경서예지                               1
The Kid LAROI, Justin Bieber       1
노을                                 1
B.I                                1
오마이걸 (OH MY GIRL)                  1
Ed Sheeran                         1
조이 (JOY)                           1
Coldplay, 방탄소년단                    1
경서예지, 전건호                          1
주시크 (Joosiq)                       1
태연 (TAEYEON)                       1
정동하                                1
David Guetta                       1
Red Velvet (레드벨벳)                  1
ITZY (있지)                          1
이해리 (다비치)                          1
ASH ISLAND                         1
Anne-Marie                         1
멜로망스                               1
다비치                                1
빅마마                                1
디핵 (D-Hack), PATEKO (파테코)          1
스탠딩 에그                             1
신용재 (2F)                           1
Jawsh 685, Jason Derulo, 방탄소년단     1
케이윌                                1
TWICE (트와이스)                       1
폴킴                                 1
Name: 가수, dtype: int64

In [17]:
pd_bugs['가수'].value_counts()

아이유(IU)           7
aespa             4
세븐틴(SEVENTEEN)    3
방탄소년단             3
이무진               3
                 ..
거미                1
송하예               1
제시(Jessi)         1
백지영               1
BLACKPINK         1
Name: 가수, Length: 70, dtype: int64

In [18]:
pd_genie['가수'].value_counts()

임영웅                              11
아이유 (IU)                          8
이무진                               8
세븐틴 (SEVENTEEN)                   7
방탄소년단                             6
aespa                             6
볼빨간사춘기                            6
The Kid LAROI & Justin Bieber     4
브레이브걸스 (Brave girls)              3
MSG워너비 (M.O.M)                    2
Ed Sheeran                        2
다비치                               2
제시                                2
마크툽 (Maktub)                      2
BE'O (비오)                         2
AKMU (악뮤)                         2
멜로망스 (MeloMance)                  2
헤이즈 (Heize)                       2
디핵 (D-Hack) & PATEKO              2
경서예지 & 전건호                        2
조정석                               2
Justin Bieber                     2
David Guetta                      2
태연 (TAEYEON)                      2
주시크 (Joosiq)                      2
케이윌 (K.Will)                      2
NCT 127                           2
Coldplay & 방탄소년단                  2
Red Velvet (레드벨벳)                 1
전소미                               1
에픽하이 (EPIK HIGH)                  1
Name: 가수, dtype: int64

# 전체 사이트를 합산하여 가장 인기가 있는 가수 10팀을 구하시오.

In [51]:
# 일단 찾을 부분의 regex문을 정의해준다 
# 괄호를 사용하여 괄호 안의 값을 찾는다 (str) 
# re모듈을 사용할 때 패턴을 만들어서 사용할 수 있다. 
# 패턴을 미리 컴파일하면, 여러 번 재사용할 때 편하기 때문이다. 
# 패턴을 명시할 때, r 문자를 사용하는 것을 볼 수있다. 

# \(, \) < 특수기호 앞에는 백슬래쉬를 넣어서 지정해준다 
# . < 아무 문자/기호/스페이스 
# + < 1개 이상 
pd_genie.가수.str.replace(r'\(.+\)','')

# 리턴 값을 확인해보니 가수이름에 공백이 포함된것들이 있다.
# 공백제거를 한 값들을 리턴해본다 
a = pd_genie.가수.str.replace(r'\(.+\)', '')
a = a.str.strip()
a
# 확인 완료 -> 값을 assign해준다

<ipython-input-51-5fef5b038698>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  pd_genie.가수.str.replace(r'\(.+\)','')
<ipython-input-51-5fef5b038698>:11: FutureWarning: The default value of regex will change from True to False in a future version.
  a = pd_genie.가수.str.replace(r'\(.+\)', '')

0                               아이유
1                            볼빨간사춘기
2                             aespa
3     The Kid LAROI & Justin Bieber
4                               이무진
                  ...
95                               제시
96                              세븐틴
97                           브레이브걸스
98                              임영웅
99                              이무진
Name: 가수, Length: 100, dtype: object

In [53]:
# 확인 완료 -> 값을 assign해준다 
# (표기) 제거 
pd_genie['가수'] = pd_genie.가수.str.replace(r'\(.+\)', '', regex=True)
pd_genie['가수']  = pd_genie['가수'].str.strip()

pd_bugs['가수'] = pd_bugs.가수.str.replace(r'\(.+\)', '', regex=True)
pd_bugs['가수'] = pd_bugs.가수.str.strip()

pd_melon['가수'] = pd_melon.가수.str.replace(r'\(.+\)', '', regex=True)
pd_melon['가수'] = pd_melon.가수.str.strip()

display(pd_genie)
display(pd_bugs)
display(pd_melon)

      순위                            곡 명                             가수
0     1위                strawberry moon                            아이유
1     2위                           나비효과                         볼빨간사춘기
2     3위                         Savage                          aespa
3     4위                           Stay  The Kid LAROI & Justin Bieber
4     5위                            신호등                            이무진
..   ...                            ...                            ...
95   96위  비 오는 날 듣기 좋은 노래 (Feat. Colde)                             제시
96   97위                           HERO                            세븐틴
97   98위                   롤린 (Rollin')                         브레이브걸스
98   99위                            끝사랑                            임영웅
99  100위                   매일 그대라서 행복하다                            이무진

[100 rows x 3 columns]

      순위                                    곡 명       가수
0     1위                    Upper Side Dreamin’  ENHYPEN
1     2위                        strawberry moon      아이유
2     3위                                   나비효과   볼빨간사춘기
3     4위                             너는 내 세상이었어   볼빨간사춘기
4     5위                                 Savage    aespa
..   ...                                    ...      ...
95   96위                                  상상더하기       라붐
96   97위  NO BREAK (Prod. GooseBumps & 사이먼 도미닉)      홀리뱅
97   98위                             가을 우체국 앞에서      김대명
98   99위                                   IF I      백지영
99  100위                 BAD GIRL (Prod. Czaer)      라치카

[100 rows x 3 columns]

      순위                     곡명                            가수
0     1위        strawberry moon                           아이유
1     2위                 Savage                         aespa
2     3위                   STAY  The Kid LAROI, Justin Bieber
3     4위                    신호등                           이무진
4     5위              사랑은 늘 도망가                           임영웅
..   ...                    ...                           ...
95   96위                     고백                           신용재
96   97위  치맛바람 (Chi Mat Ba Ram)                        브레이브걸스
97   98위           Alcohol-Free                         TWICE
98   99위       사실 나는 (Feat.전건호)                          경서예지
99  100위      Love On The Floor                       NCT 127

[100 rows x 3 columns]

In [120]:
# 가수값만 새로운 df에 저장 
# df 생성 
team = pd.DataFrame() 

team=team.append(pd_bugs[['가수']])
team=team.append(pd_melon[['가수']])
team=team.append(pd_genie[['가수']])

pd.DataFrame(team.가수.value_counts().head(15))

               가수
임영웅            22
아이유            22
세븐틴            19
방탄소년단          15
이무진            14
aespa          12
볼빨간사춘기         10
브레이브걸스          8
NCT 127         7
AKMU            6
Justin Bieber   6
헤이즈             6
멜로망스            5
마크툽             5
Ed Sheeran      5

In [119]:
pd_genie['가수']

0                               아이유
1                            볼빨간사춘기
2                             aespa
3     The Kid LAROI & Justin Bieber
4                               이무진
                  ...
95                               제시
96                              세븐틴
97                           브레이브걸스
98                              임영웅
99                              이무진
Name: 가수, Length: 100, dtype: object

# 각 사이트별 차트에 아이유의 곡들을 출력하시오

In [20]:
pd_genie[pd_genie['가수'].str.contains('아이유')]

     순위                                                곡 명        가수
0    1위                                    strawberry moon  아이유 (IU)
5    6위                                        My Universe  아이유 (IU)
34  35위                                 Favorite (Vampire)  아이유 (IU)
38  39위                                       별빛 같은 나의 사랑아  아이유 (IU)
55  56위                                        My Universe  아이유 (IU)
60  61위  Hey Mama (Feat. Nicki Minaj & Bebe Rexha & Afr...  아이유 (IU)
89  90위                                              비와 당신  아이유 (IU)
93  94위                                            그대라는 사치  아이유 (IU)

In [21]:
pd_bugs[pd_bugs['가수'].str.contains('아이유')]

     순위                          곡 명       가수
1    2위              strawberry moon  아이유(IU)
36  37위                          라일락  아이유(IU)
67  68위                    Celebrity  아이유(IU)
70  71위                     Blueming  아이유(IU)
73  74위  에잇(Prod.&Feat. SUGA of BTS)  아이유(IU)
74  75위                      내 손을 잡아  아이유(IU)
88  89위                  어푸 (Ah puh)  아이유(IU)

In [22]:
pd_melon[pd_melon['가수'].str.contains('아이유')]

     순위                          곡 명   가수
0    1위              strawberry moon  아이유
30  31위                          라일락  아이유
32  33위                    Celebrity  아이유
48  49위                      내 손을 잡아  아이유
65  66위                     Blueming  아이유
72  73위  에잇(Prod.&Feat. SUGA of BTS)  아이유
84  85위                  어푸 (Ah puh)  아이유

# 각 사이트별로 아이유 노래들의 평균순위를 구하시오. (정수값)

In [115]:
int(pd_melon[pd_melon['가수'].str.contains('아이유')]['순위'].str.replace('위','').astype('int64').mean())

48

In [116]:
int(pd_bugs[pd_bugs['가수'].str.contains('아이유')]['순위'].str.replace('위','').astype('int64').mean())

59

In [117]:
int(pd_genie[pd_genie['가수'].str.contains('아이유')]['순위'].str.replace('위','').astype('int64').mean())

47

# 제목에  '사랑'이라는 단어가 들어가는 곡들을  출력하시오.

In [23]:
pd_melon.isna().sum()

순위     0
곡 명    0
가수     0
dtype: int64

In [39]:
pd_melon.rename(columns={"곡 명": "곡명"},inplace=True)
pd_melon

      순위                     곡명                            가수
0     1위        strawberry moon                           아이유
1     2위                 Savage                         aespa
2     3위                   STAY  The Kid LAROI, Justin Bieber
3     4위                    신호등                           이무진
4     5위              사랑은 늘 도망가                           임영웅
..   ...                    ...                           ...
95   96위                     고백                      신용재 (2F)
96   97위  치맛바람 (Chi Mat Ba Ram)                        브레이브걸스
97   98위           Alcohol-Free                  TWICE (트와이스)
98   99위       사실 나는 (Feat.전건호)                          경서예지
99  100위      Love On The Floor                       NCT 127

[100 rows x 3 columns]

In [50]:
pd_melon[pd_melon['곡명'].str.contains('사랑')==True]

     순위                                 곡명         가수
4    5위                          사랑은 늘 도망가        임영웅
24  25위                       별빛 같은 나의 사랑아        임영웅
27  28위                 다시 사랑한다면 (김필 Ver.)        임영웅
34  35위                                끝사랑        임영웅
57  58위                             나의 첫사랑        다비치
60  61위          어떻게 이별까지 사랑하겠어, 널 사랑하는 거지  AKMU (악뮤)
93  94위  사랑은 언제나 목마르다 (N번째 연애 X 이해리 (다비치))  이해리 (다비치)